@import './palette.styl';
@import './mixins.styl';

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.theme-container {
  h3 {
    font-size: 1.25rem;
  }
  .navbar {
    display: flex;
    align-items: center;
    backdrop-filter: saturate(180%) blur(1rem);
    background-color: rgba(#fff, 0.8);
    .sidebar-button {
      position: static;
      transform translateX(-.7rem);
    }
    .home-link {
      display: flex;
      align-items: center;
      margin-right: auto;
      +mobile() {
        margin-left: auto;
      }
      .logo {
        margin-right: .7rem;
        +mobile() {
          margin-right: 0;
        }
      }
      .site-name {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .links {
      position: static;
      background: transparent;
      +mobile() {
        padding-left: 0;
      }
      .search-box {
        +desktop() {
          margin-right: 1.5rem;
        }
        input {
          &:not(:focus) {
            border-color: $borderColor;
          }
          +mobile() {
            position: static;
            &:focus {
              margin-left: 1.2rem;
            }
          }
        }
      }
      .nav-links .nav-item {
        a:hover,
        a.router-link-active {
          color: $accentColor;
        }
      }
    }
  }
  .sidebar {
    .nav-links .nav-item {
      +small() {
        padding-left: 2rem;
      }
      +mini() {
        padding-left: 1.5rem;
      }
    }
    // normal "a" links
    // "/api" 1st title and "/docs" 1st title
    // "/components" 2nd title
    a.sidebar-link,
    > .sidebar-links > li > a.sidebar-link,
    .sidebar-heading,
    .sidebar-group.is-sub-group > .sidebar-heading {
      +large() {
        padding-left: 2.25rem;
      }
      +medium() {
        padding-left: 1.75rem;
      }
      +mini() {
        padding-left: 1.25rem;
      }
    }
    > .sidebar-links > li {
      // "/api" 1st title and "/docs" 1st title
      > a.sidebar-link,
      .sidebar-heading {
        font-size: 1.25rem;
      }
      // "api" 2nd title
      > .sidebar-sub-headers {
        padding-left: 0.25rem;
        > .sidebar-sub-header > a.sidebar-link {
          font-weight: 500;
        }
      }
      // collapse items
      .sidebar-links > li > ul.sidebar-sub-headers {
        padding-left: 1.25rem;
      }
    }
    .sidebar-group {
      &.is-sub-group > {
        // "/components" 2nd title
        .sidebar-heading {
          font-size: 1em;
          font-weight: 700;
          &:not(.clickable) {
            opacity: 1;
          }
        }
        // "/components" 3rd "a" links
        .sidebar-group-items > li > .sidebar-link {
          font-size: 1rem;
          +large() {
            padding-left: 1.5rem;
          }
          +medium() {
            padding-left: 1rem;
          }
          +mini() {
            padding-left: .5rem;
          }
        }
      }
      ul.sidebar-sub-headers li {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 1.4rem;
          top: 0;
          height: 100%;
          border-left: 1px dashed $hintColor;
        }
        &:last-child::before {
          height: .9rem;
        }
        a.sidebar-link {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 0.5em;
            border-bottom: 1px dashed $hintColor;
          }
        }
        +medium() {
          &::before {
            left: .9rem;
          }
          a.sidebar-link::before {
            left: 1rem;
          }
        }
        +mini() {
          &::before {
            left: .4rem;
          }
          a.sidebar-link::before {
            left: .5rem;
          }
        }
      }
    }
  }
}

/* Paged
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.theme-container {
  // home
  &.home-page {
    .navbar {
      border-bottom: 0;
      +desktop() {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
      +mobile() {
        padding-left: 1.5rem;
      }
      .home-link .logo {
        +desktop() {
          display: none;
        }
        +mobile() {
          display: none
          &.show {
            display: block;
          }
        }
      }
    }
    .home .footer .content {
      +desktop() {
        max-view();
      }
      +mobile() {
        padding: 3rem 1.5rem;
      }
    }
  }
  // page
  &:not(.home-page) {
    .navbar {
      +large() {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
      +medium() {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      +mini() {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    .page {
      padding-bottom: 0;
      .theme-default-content {
        min-height: calc(100vh - 6rem);
      }
      .footer {
        margin-top: auto;
        background: $grayBg;
        border-top: 1px solid $borderColor;
        .content {
          +large() {
            max-width 740px;
            margin-left: auto;
            margin-right: auto;
          }
          +medium() {
            display: block;
            padding-left: 2rem;
            padding-right: 2rem;
            .left {
              margin-bottom: 3rem;
            }
            .right .col {
              margin-left: 0;
              margin-right: auto;
              img {
                bottom: calc(100% + 1.5rem);
                right: 50%;
                transform: translateX(50%);
              }
            }
          }
          +mobile() {
            padding-top: 3rem;
            padding-bottom: 3rem;
          }
          +mini() {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        }
      }
    }
  }
}
