@import './palette.styl';
@import './mixins.styl';

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.theme-container {
  .navbar {
    display: flex;
    align-items: center;
    backdrop-filter: saturate(180%) blur(1rem);
    background-color: rgba(#fff, 0.8);
    +desktop() {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    .sidebar-button {
      position: static;
      transform translateX(-.7rem);
    }
    .home-link {
      display: flex;
      align-items: center;
      margin-right: auto;
      +mobile() {
        margin-left: auto;
      }
      .logo {
        margin-right: .7rem;
        +mobile() {
          margin-right: 0;
        }
      }
      .site-name {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .links {
      position: static;
      background: transparent;
      +mobile() {
        padding-left: 0;
      }
      .search-box {
        +desktop() {
          margin-right: 1.5rem;
        }
        input {
          &:not(:focus) {
            border-color: $borderColor;
          }
          +mobile() {
            position: static;
            &:focus {
              margin-left: 1.2rem;
            }
          }
        }
      }
      .nav-links .nav-item {
        a:hover,
        a.router-link-active {
          color: $accentColor;
        }
      }
    }
  }
}

/* Paged
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.theme-container {
  // home
  &.home-page {
    .navbar {
      border-bottom: 0;
      +mobile() {
        padding-left: 1.5rem;
      }
      .home-link .logo {
        +desktop() {
          display: none;
        }
        +mobile() {
          display: none
          &.show {
            display: block;
          }
        }
      }
    }
    .home .footer .content {
      +desktop() {
        box-view();
      }
      +mobile() {
        padding: 3rem 1.5rem;
      }
    }
  }
  // page
  &:not(.home-page) {
    .navbar {
      +tablet() {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      +mobile() {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      +small() {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    .page .footer {
      border-top: 1px solid $borderColor;
      .content {
        +desktop() {
          max-width 740px;
          margin-left: auto;
          margin-right: auto;
        }
        +tablet() {
          display: block;
          padding-left: 2rem;
          padding-right: 2rem;
          .left {
            margin-bottom: 3rem;
          }
          .right .col {
            margin-left: 0;
            margin-right: auto;
            img {
              bottom: calc(100% + 1.5rem);
              right: 50%;
              transform: translateX(50%);
            }
          }
        }
        +mobile() {
          padding: 3rem 2rem;
        }
        +small() {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }
}
