@import './palette.styl';

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.theme-container {
  .navbar {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(#fff, 0.7);
    .logo {
      margin-right: 0.5rem;
    }
    .site-name {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .search-box {
      margin-right: 0;
      input:not(:focus) {
        border-color: $borderColor;
      }
    }
    .links {
      right: 2rem;
      background: transparent;
    }
  }
  @media (min-width: $MQMobile + 1px) {
    .navbar {
      padding-left: 3rem;
      padding-right: 3rem;
      .links {
        right: 3rem;
        .nav-links .nav-item {
          margin-left: 1.5rem;
          a:hover,
          a.router-link-active {
            color: $accentColor;
          }
        }
      }
    }
  }
  @media (max-width: $MQMobile) {
    .navbar {
      .search-box {
        input {
          left: 0;
        }
      }
      .links {
        right: 1.5rem;
        padding-left: 0;
      }
    }
  }
}

/* The Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.the-home {
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    padding-bottom: 0;
    border-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar {
    border-bottom: 0;
    .logo {
      display: none;
    }
  }
  .home {
    max-width: none;
    padding: 0;
  }
}

/* Root "rem"
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: $MQMobile) {
  html {
    font-size: 14px;
  }
}
