// 颜色
$accentColor = #7B61FF
$textColor = #212E33
$borderColor = #ECEDF0
$codeBgColor = #212E33
$arrowBgColor = C3CACC
$badgeTipColor = #A694FF
$badgeWarningColor = #F9BF43
$badgeErrorColor = #F03426

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 自定义（非 VuePress 默认配置）
$bgColor = #F3F3F7
$minorColor = #4A555B
$hintColor = #949fa5
$greenColor = #0ABD8D
